.avatar {
	--_size: 40px;
	--_border-radius: 50%;
	--_color: #50514f;
	--_bg: #ebedef;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	height: var(--_size);
	width: var(--_size);
	border-radius: var(--_border-radius);
	color: var(--_color);
	background-color: var(--_bg);
}

.avatar img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: var(--_border-radius);
}
