*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Docs */
html,
body {
	height: 100%;
}

body {
	font-family: system-ui;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-inline: 1rem;
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
}

body:has(.accordion, .alert, .card, .group, .divider, .input, .select, .stack, .textarea, .wrapper)
	.container {
	display: grid;
	gap: 0.5rem;
	width: min(100%, 350px);
}

body:has(.auto-grid) .container {
	display: block;
	width: min(100%, 850px);
}

body:has(.wrapper) .container {
	width: 100%;
}

:is(.auto-grid, .group, .stack) > * {
	padding: 0.35rem 0.5rem;
	border-radius: 0.25rem;
	color: #21307a;
	background: #dbe4ff;
}

:is(.wrapper) {
	padding: 0.35rem 0.5rem;
	border-radius: 0.25rem;
	color: #21307a;
	background: #dbe4ff;
}
