.link {
	--_color: #4263eb;
	--_hover-color: #364fc7;
	--_focus-outline-color: #364fc7;

	text-decoration: none;
	color: var(--_color);
}

.link:hover {
	text-decoration: underline;
	color: var(--_hover-color);
}

.link:focus-visible {
	outline-color: var(--_focus-outline-color);
}
