.select {
	--_padding-x: 0.75rem;
	--_padding-y: 0.375rem;
	--_font-size: 1rem;
	--_line-height: 1.5;
	--_border-radius: 0.325rem;
	--_border-width: 1px;
	--_icon: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M5.23 7.21a.75.75 0 0 1 1.06.02L10 11.168l3.71-3.938a.75.75 0 1 1 1.08 1.04l-4.25 4.5a.75.75 0 0 1-1.08 0l-4.25-4.5a.75.75 0 0 1 .02-1.06Z' clip-rule='evenodd'/%3E%3C/svg%3E");
	--_icon-size: 1.25rem;

	--_color: #252521;
	--_bg: #ffffff;
	--_border-color: #d1d6d8;

	--_disabled-color: #979b9d;
	--_disabled-bg: #f2f4f6;
	--_disabled-border-color: #e0e4e5;

	--_focus-outline: 2px solid #364fc7;
	--_focus-outline-offset: 2px;

	display: grid;
	grid-template-areas: "select";
	align-items: center;
}

.select::after {
	content: "";
	grid-area: select;
	align-self: center;
	justify-self: end;
	pointer-events: none;
	height: var(--_icon-size);
	width: var(--_icon-size);
	margin-right: var(--_padding-x);
	background-color: var(--_color);
	-webkit-mask: var(--_icon) center / contain no-repeat;
	mask: var(--_icon) center / contain no-repeat;
}

.select:has([multiple])::after {
	content: unset;
}

.select select {
	appearance: none;
	font: inherit;
	grid-area: select;
	display: block;
	inline-size: 100%;

	padding-inline: var(--_padding-x);
	padding-block: var(--_padding-y);
	font-size: var(--_font-size);
	line-height: var(--_line-height);
	border-radius: var(--_border-radius);

	border: var(--_border-width) solid var(--_border-color);
	color: var(--_color);
	background-color: var(--_bg);
}

.select select:focus-visible {
	outline: var(--_focus-outline);
	outline-offset: var(--_focus-outline-offset);
}

.select select:disabled {
	opacity: 1;
	color: var(--_disabled-color);
	background-color: var(--_disabled-bg);
	border-color: var(--_disabled-border-color);
}

.select:has(:disabled) {
	color: var(--_disabled-color);
}
