/* dependency: https://www.css-snippets.io/snippets/link */

.breadcrumb {
	--_gap: 0.5rem;
	--_divider: "/";
	--_divider-color: #666968;
	--_item-current-color: #666968;

	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--_gap);
}

.breadcrumb-item:not(:last-child)::after {
	content: var(--_divider);
	padding-inline-start: var(--_gap);
	color: var(--_divider-color);
}

.breadcrumb-item[aria-current="page"] {
	color: var(--_item-current-color);
}
