---
const {name, fullWidth} = Astro.props;
const snippet = (await import(`../../snippets/${name}/index.js`)).default;
---

<div class="card">
  <div class:list={['card-body', { 'w-full': fullWidth }]} set:html={snippet.html.default}></div>
  <div class="card-footer"><h4>{name.replaceAll("-", " ")}</h4></div>
  <a href={`/snippets/${name}`}></a>
</div>