.stack-y {
	--_gap: 1rem;

	display: flex;
	flex-direction: column;
	align-self: stretch;
	gap: var(--_gap);
}

.stack-x {
	--_gap: 1rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--_gap);
}
