*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Docs */
html,
body {
	height: 100%;
}

body {
	font-family: system-ui;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

body:has(.input, .select, .textarea) .container {
	display: grid;
	gap: 0.5rem;
	width: min(100% - 2rem, 350px);
}
/* 
body:has(.input) */
